<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render '/users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table table-hover table-inverse'>
  		  <tr>
          <td><%= link_to user_path(@book.user.id) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          
          <!--いいね機能の非同期処理と部分テンプレート-->
          <!--id="%= book.id.to_s %>" = cssの指定（命名自由）非同期処理で必要-->
          <!--スタイルを変えたいタグにid属性と属性値を記述します。属性値には、セレクタ名（ここでは"%= @book.id.to_s %>">）を指定-->
          <td id="<%= @book.id.to_s %>"><%= render 'favorites/favorite', book: @book %></td>
          
          <!--コメント機能(カウント)の部分テンプレート-->
          <td><%= render 'book_comments/book_comments',book: @book %></td>
          
          
        </tr>
      </table>
      <!--コメント一覧 非同期処理と部分テンプレート-->
      <!--いいね機能はbook の１つ１つにいいねをつける事が出来るので。変数を用いて記述しているが、コメント投稿はその必要がないので%= 等無く、id名だけ与える。-->
      <div id="book_comments_form"><%= render 'book_comments/book_comments_form', book: @book,  book_comment: @book_comment %></div>
      <!--コメント記入欄 非同期処理とテンプレート-->
      <div id="book_comments"><%= render 'book_comments/book_comments_index', book: @book %></div>
    </div>
  </div>
</div>